<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SvcNetTcpBindingEndPoint" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8080/DispatchingSvc" binding="netTcpBinding"
        bindingConfiguration="SvcNetTcpBindingEndPoint" contract="DispatchingServiceReference.IDispatchingService"
        name="SvcNetTcpBindingEndPoint">
        <identity>
          <userPrincipalName value="DESKTOP-EQTGMTD\Florian" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
</configuration>